@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    background: var(--tg-theme-bg-color);
}

#main {
    width: 100%;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-top: 50px;
    margin-bottom: 10px;
}

img {
    width: 100px;
    margin: 50px auto;
}

p {
    width: 350px;
    margin: 0 auto;
}

button {
    border: 0;
    border-radius: 5px;
    margin-top: 50px;
    height: 60px;
    width: 200px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 500ms ease;
    color: white;
    background: #ff9687;
}

button:hover {
    color: #ff9687;
    background: antiquewhite;
}

#form {
    display: none;
    text-align: center;
}

input {
    width: 90%;
    outline: none;
    margin: 10px 5%;
    padding: 15px 10px;
    font-size: 14px;
    border: 2px solid antiquewhite;
    border-radius: 5px;
}

input:focus {
    border-color: #ff9687;
}